<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homestyles.css">
    <title>MediConnect</title>
</head>
<body>
    <header>
        <div class="logo">
            <p>MediConnect</p>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="reg.html">Register</a></li>
                <li><a href="login.html">Logout</a></li>
                <li><a href="contactus.html">contact us</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <div class="main">
            <h1>Welcome to MediConnect</h1>
            <p>MediConnect is a healthcare platform that connects patients with healthcare providers. Our mission is to track our health records. With MediConnect, you can easily find and view your medical history, and manage your visits.</p>
            <p>Sign up for free today to get started!</p>
            <center><a href="reg.html"><button class="cta">Sign Up</button></a></center>
            <div class="contact-us">
                <p>Contact Us</p>
            </div>
        </div>
    </div>
    <footer>
        <p>© 2023 MediConnect. All rights reserved.</p>
    </footer>
</body>
</html>
