<!-- patientprofile.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="doctorstyle.css">
    <title>Doctor Profile</title>
</head>
<body>
    <header>
        <div class="logo">
            <p>MediConnect</p>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="#">My Visits</a></li>
                <li><a href="hospital.html">Workplace</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="profile-header">
            <h1>My Profile</h1>
            <div class="profile-image">
                <img src="anas profile.jpeg" alt="Hospital Image">
            </div>
        </div>
        <div class="doctor-details">
            <p><strong>First Name:</strong> Anas</p>
            <p><strong>Last Name:</strong> Hamza Mohammed</p>
            <p><strong>Specialization:</strong> Cardiologist</p>
            <p><strong>Contact Number:</strong> 9731220176</p>
            <p><strong>Hospital ID:</strong> 1001</p>
        </div>

        <!-- Additional content for the patient profile page -->
        <div class="additional-content">
            <a href=""><button class="cta" type="submit">Edit Profile</button></a>
        </div>
    </div>
    <center><footer>
        <p>© 2023 MediConnect. All rights reserved.</p>
    </footer></center>
    <script src="doctorscript.js"></script>
</body>
</html>